<section>
    <article>
        Copyrights &copy; 2021 hwaseong, All Rights Reserved.
    </article>
    <article>
        <ul>
            <li><a href="tel:010-4263-1501" target="_self" title="휴대폰 번호">  010-4263-1501 </a></li>
            <li><a href="mailto:'meimi101@naver.com'" title="메일보내기"> 메일보내기 </a></li>
        </ul>
    </article>
    <article>
        GitHub : <a href="https://github.com/woong2021/hwaseong" target="_half" title="GitHub">https://github.com/woong2021/hwaseong</a>
    </article>
</section>
