@charset "UTF-8";
// *----------------------------
//	Common
// ----------------------------*

/* Common */
.ie10{
    header{
        nav{
            .top {
                display: block;

                &::after{
                    content:"";
                    display: block;
                    clear: both;
                }

                a{
                    &:first-child{
                        float: left;
                    }

                    &:last-child{
                        float: right;
                    }
                }
            }
        }
    }
}

