@charset "UTF-8";

// *----------------------------
//	Color
// ----------------------------*

$white    : #ffffff !default;
$gray     : #cccccc !default;
$grayE    : #eeeeee !default;
$gray6    : #666666 !default; 
$black    : #000000 !default;
$red      : #ff0000 !default;

$h3       : #333333 !default;
$h4       : #ffa500 !default;
$btnColor : #0075C1 !default;
$bgBlue   : #0075C1 !default;
$bgsky    : #3ac1d3 !default;
$bgGreen  : #9acd32 !default;

// *----------------------------
//	default Color
// ----------------------------*

$defaultColor: #006935 !default;
$defaultMenu : #84C355 !default;
$defaultTitle: #154D3D !default;
$LNBTitle    : #333333 !default;
$LNBMenu     : #84C355 !default;