@charset "UTF-8";

// *----------------------------
//	Contents
// ----------------------------*

/* Contents */
main{
    padding: 0;
    min-height: 665px;
    position: relative;
    top: 90px;
    background: #ccc;

    @media (max-width: 768px){
        padding: 0 10px;
    }

    @media (max-width: 1024px){

    }
}