@charset "UTF-8";

// *----------------------------
//	Mobile
// ----------------------------*

/* Mobile */
html {font-size: 16px;}
body{font-size: 1rem;}

header{
    &#arrangement{
        .top{
            position: relative;
            background: #5f0080;

            h1{
                display: flex;
                height: 2.16rem;

                a{
                    margin: auto;
                    width: 2.7rem;
                    height: 1.26rem;
                    background: url("../../../assets/images/img/h1_logo4.png") no-repeat 0 0 / 100% auto;
                }
            }

            .cart{
                position: absolute;
                right: -20px;
                top: 10px;
                width: 3.26rem;
                height: 100%;
                background: url("../../../assets/images/img/ico_cart.png") no-repeat 0 0 / 45% auto;
            }
        }

        nav {
            ul{
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid #c0bfbe;

                li{
                    span{
                        display: inline-block;
                        position: relative;
                        padding: 0.333rem;
                        line-height: 2.08rem;
                        font-size: 0.8rem;
                    }

                    &.on{
                        span{
                            color: #5f0080;
                            font-weight: bold;

                            &::after{
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 0.166rem;
                                background-color: #5f0080;
                            }
                        }
                    }
                }

                a{
                    display: block;
                    font-size: .75rem;
                    color: #5e5e5e;
                    text-align: center;
                }
            }
        }
    }
    
    &#bottomFixed{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;

        ul{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            height: 2.5rem;

            li{
                &:nth-child(3){
                    &::after{
                        content:"";
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        z-index: 29;
                        width: 2.85rem;
                        height: 1.83rem;
                        background-color: #ffffff;
                        transform: translateX(-50%);
                    }
                }
            }
        }

        nav{
            position: relative;

            &::before,
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                width: calc(50% - 1.35rem);
                height: 100%;
                border-top: 1px solid #e2e2e2;
            }

            &::before{
                left: 0;
                border-right: 1px solid #e2e2e2;
                border-radius: 0 .83rem 0 0;
            }

            &::after{
                right: 0;
                border-left: 1px solid #e2e2e2;
                border-radius: .83rem 0 0 0;
            }

            li {
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: .55rem;
                    color: #717171;
                    text-align: center;

                    &::before{
                        content:"";
                        display: block;
                        width: 100%;
                        height: 1.05rem;
                        background: no-repeat center / auto 100%;
                    }
                }

                &:nth-child(1){
                    a{
                        &::before{
                            background-image: url("../../../assets/images/img/ico_dock1.png");
                        }
                    }
                }

                &:nth-child(2){
                    a{
                        &::before{
                            background-image: url("../../../assets/images/img/ico_dock2.png");
                        }
                    }
                }

                &:nth-child(3){
                 a{
                     display: block;
                     position: relative;
                     z-index: 30;
                     top: -0.2rem;
                     margin: 0 auto;
                     width: 2.85rem;
                     height: 2.85rem;
                     line-height: 2.85rem;
                     text-align: center;
                     border: 2px solid #959595;
                     border-radius: 100%;
                     background-color: #ffffff;
                     font-size: .8rem;

                     &::before{
                         display: none;
                     }
                 }   
                }
                &:nth-child(4){
                    a{
                        &::before{
                            background-image: url("../../../assets/images/img/ico_dock3.png");
                        }
                    }
                }

                &:nth-child(5){
                    a{
                        &::before{
                            background-image: url("../../../assets/images/img/ico_dock4.png");
                        }
                    }
                }

                &.on{
                    a{
                        color:#282828;
                        font-weight: bold;
                    }

                    &:nth-child(1){
                        a{
                            &::before{
                                background-image: url("../../../assets/images/img/ico_dock1_on.png");
                            }
                        }
                    }

                    &:nth-child(2){
                        a{
                            &::before{
                                background-image: url("../../../assets/images/img/ico_dock2_on.png");
                            }
                        }
                    }

                    &:nth-child(4){
                        a{
                            &::before{
                                background-image: url("../../../assets/images/img/ico_dock3_on.png");
                            }
                        }
                    }

                    &:nth-child(5){
                        a{
                            &::before{
                                background-image: url("../../../assets/images/img/ico_dock4_on.png");
                            }
                        }
                    }
                }
            }
        }
    }

    &#default{
        position: relative;
        background: #111111;

        h1{
            display: flex;
            height: 1.66rem;

            a{
                display: block;
                margin: auto;
                width: 1.8rem;
                height: .833rem;
                background: url("../../../assets/images/img/h1_logo6.png") no-repeat center / 100% auto;
            }
        }

        > button {
            position: absolute;
            top: 0;
            width: 1.66rem;
            height: 1.66rem;
        }

        .menu{
            left: 0;
            background: url("../../../assets/images/img/btn_nav.png") no-repeat center / auto .5rem;
        }

        .alram{
            right: 0;
            background: url("../../../assets/images/img/ico_alram.png") no-repeat center / auto .8rem;
        }

        nav{
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 101;
            width: 75%;
            background-color: #fff;

            .top{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: .61rem .583rem 0;
                height: 3.133rem;
                box-sizing: border-box;
                background-color: #f5f5f5;
            }
        }

        .btn_login{
            width: 3.15rem;
            line-height: 1.26rem;
            text-align: center;
            border-radius: 1.26rem;
            border: 1px solid #797979;
            background-color: #ffffff;
            font-size: .8rem;
        }

        .btn_setting{
            font-size: .51rem;
            color: #000000;

            &::before{
                content:"";
                display: block;
                margin: 0 auto .3rem;
                width: 0.7rem;
                height: 0.58rem;
                background: url("../../../assets/images/img/ico_setting.png") no-repeat center / auto 100%;

            }
        }

        .lnb{
            padding: .616rem 0 0;
            line-height: 1.916rem;

            a{
                display: block;
                padding: 0 0 0 1.15rem;
                font-size: .583rem;
                color: #000000;

                &::before{
                    content:"";
                    display:inline-block;
                    margin: 0 1.16rem 0 0;
                    width: 0.75rem;
                    height: 0.75rem;
                    background: no-repeat center / contain;
                    vertical-align: middle;
                }
            }

            .ico1{
                a{
                    &::before{
                        background-image: url("../../../assets/images/img/ico_nav1.png");
                    }
                }
            }

            .ico2{
                a{
                    &::before{
                        background-image: url("../../../assets/images/img/ico_nav2.png");
                    }
                }
            }

            .ico3{
                a{
                    &::before{
                        background-image: url("../../../assets/images/img/ico_nav3.png");
                    }
                }
            }

            .ico4{
                a{
                    &::before{
                        background-image: url("../../../assets/images/img/ico_nav4.png");
                    }
                }
            }

            .ico5{
                a{
                    &::before{
                        background-image: url("../../../assets/images/img/ico_nav5.png");
                    }
                }
            }

            .ico6{
                a{
                    &::before{
                        background-image: url("../../../assets/images/img/ico_nav6.png");
                    }
                }
            }

            .ico7{
                a{
                    &::before{
                        background-image: url("../../../assets/images/img/ico_nav7.png");
                    }
                }
            }

            .ico8{
                a{
                    &::before{
                        background-image: url("../../../assets/images/img/ico_nav8.png");
                    }
                }
            }

            .ico9{
                a{
                    &::before{
                        background-image: url("../../../assets/images/img/ico_nav9.png");
                    }
                }
            }
        }
    }
}

main{
    display: block;
    background-color: #ebebeb;
    font-size: 1.66rem;
    color: #000000;
    text-align: center;
    line-height: 10rem;
}

.dim {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0,0,0,.5);
}