@charset "UTF-8";
// *----------------------------
//	Contents
// ----------------------------*

main{
  height: auto;
  min-height: 100vh;
}

.explanation{
  padding: 15px 10px;
  border: 1px solid;
  width: 100%;
  font-size: .8rem;
  box-sizing: border-box;
}