@charset "UTF-8";
// *----------------------------
//	LNB
// ----------------------------*

#lnb{
  > p{
    
    background-color: #0D3459;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 100px;
  }

  ul{
    li{
      margin-top: 5px;
      background-color: #f6f6f6;
      height: 45px;
      text-align: center;
      font-size: 1rem;
      line-height: 45px;
      
      &:hover,
      &.active{
        background-color: $bgBlue;
      }

      a{
        display: block;

        &:hover,
        &.active{
          color: $white;
        }
      }
    }
  }
}