@charset "UTF-8";
// *----------------------------
//	Color
// ----------------------------*

$color    : #F56B13 !default;
$white    : #ffffff !default;
$gray     : #cccccc !default;
$grayE    : #eeeeee !default;
$gray6    : #666666 !default; 
$black    : #000000 !default;
$red      : #ff0000 !default;

$h3       : #333333 !default;
$h4       : #ffa500 !default;
$btnColor : #0075C1 !default;
$bgBlue   : #0051a3 !default;
$bgsky    : #3ac1d3 !default;
$notice   : #f8dade !default;
